html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: auto;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    text-align: center;
    background-color: #31566D;
    height: 130px;
    padding: 20px;
}

.relative-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.scroll {
    position: fixed;
	float: left;
    height: 100%;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F15A2B;
}

.scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F15A2B;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #407492;
}

.logo {
    height: 130px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.material-icons.mdl-list__item-avatar {
    color: #407492;
    background-color: #FFFFFF;
    height: 45px;
}

.session-item-type {
    background-color: #FFFFFF;
}

.session-item-type.Break, .session-item-type.Party {
    background-color: #F15A2B;
}

.material-icons.mdl-badge[data-badge]::after, .material-label.mdl-badge[data-badge]::after {
    background: #407492;
}

.orange {
    color: #F15A2B;
}

.orange-background-transition {
    background-color:  #F15A2B;
    -webkit-transition: background-color 750ms linear;
    -ms-transition: background-color 750ms linear;
    transition: background-color 750ms linear;
}

.blue {
    color: #407492;
}

.blue-background-transition {
    background-color:  #407492;
    -webkit-transition: background-color 750ms linear;
    -ms-transition: background-color 750ms linear;
    transition: background-color 750ms linear;
}

.uppercase { 
    text-transform: uppercase;
}

.white {
    color: #FFFFFF;
}

.white-background {
    background-color: #FFFFFF;
}

.white-transition {
    color: #FFFFFF;
    -webkit-transition: color 750ms linear;
    -ms-transition: color 750ms linear;
    transition: color 750ms linear;
}

.orange-transition {
    color: #F15A2B;
    -webkit-transition: color 750ms linear;
    -ms-transition: color 750ms linear;
    transition: color 750ms linear;
}

.blue-transition {
    color: #407492;
    -webkit-transition: color 750ms linear;
    -ms-transition: color 750ms linear;
    transition: color 750ms linear;
}

.margin-right-24 {
    margin-right: 24px;
}

.card.speaker {
    width: 100%;
    height: 150px;
    margin: auto;
}

.card-actions.speaker {
    height: 40px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.card-description.speaker {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.font-white {
    color: #FFFFFF;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: #F15A2B;
}

.link {
    cursor: pointer;
}

.timer-application {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.fullscreen {
    display: table;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}

.timer {
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
}

.side-controls {
    position: fixed;
    height: 100%;
    width: 50px;
    right: 0;
    z-index: 9999;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px;
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
}

.no-decoration {
    color: inherit;
    text-decoration: none;
    cursor: inherit;
}

.timer-main-text {
    font-family: "Arial", sans-serif;
    font-size: 60px;
}

.timer-additional-text {
    font-family: "Arial", sans-serif;
    font-size: 35px;
}

.timer-numbers {
    font-family: "Arial", sans-serif;
    font-size: 200px;
}

/* DIALOG */
.dialog {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.dialog.show {
    display: block;
}

.dialog-content {
    position: relative;
    width: 300px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    box-shadow: 5px black;
}

.dialog-header {
    position: relative;
    padding-top: 20px;
    text-align: center;
    color: #407492;
    font-size: 32px;
    height: 40px;
}


.dialog-body {
    position: relative;
    margin: auto;
    width: 90%;
    text-align: center;
    color: #407492;
}

.mdl-textfield {
    width: 85%;
}

.horizontal-center {
    position: relative;
    width: 50%;
    margin: auto;
}

.horizontal-center > span {
    display: inline-block;
    width: 20%;
    height: 25px;
}

.dialog-actions {
    height: 60px;
    width: 100%;
}

.dialog-actions > button {
    margin-right: 15px;
    margin-left: 15px;
}

.mdl-textfield__label:after {
    background-color: #407492;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #407492;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #407492;
}