body {
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    background-color: #31566D;
    height: 130px;
    padding: 20px;
}

.logo {
    height: 130px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.material-icons.mdl-list__item-avatar {
    color: #407492;
    background-color: #FFFFFF;
    height: 45px;
}

.session-item-type {
    background-color: #FFFFFF;
}

.session-item-type.Break, .session-item-type.Party {
    background-color: #F15A2B;
}

.material-icons.mdl-badge[data-badge]::after, .material-label.mdl-badge[data-badge]::after {
    background: #407492;
}

.orange {
    color: #F15A2B;
}

.orange-background-transition {
    background-color:  #F15A2B;
    -webkit-transition: background-color 750ms linear;
    -ms-transition: background-color 750ms linear;
    transition: background-color 750ms linear;
}

.blue {
    color: #407492;
}

.blue-background-transition {
    background-color:  #407492;
    -webkit-transition: background-color 750ms linear;
    -ms-transition: background-color 750ms linear;
    transition: background-color 750ms linear;
}

.uppercase { 
    text-transform: uppercase;
}

.white {
    color: #FFFFFF;
}

.white-background {
    background-color: #FFFFFF;
}

.white-transition {
    color: #FFFFFF;
    -webkit-transition: color 750ms linear;
    -ms-transition: color 750ms linear;
    transition: color 750ms linear;
}

.orange-transition {
    color: #F15A2B;
    -webkit-transition: color 750ms linear;
    -ms-transition: color 750ms linear;
    transition: color 750ms linear;
}

.blue-transition {
    color: #407492;
    -webkit-transition: color 750ms linear;
    -ms-transition: color 750ms linear;
    transition: color 750ms linear;
}

.margin-right-24 {
    margin-right: 24px;
}

.card.speaker {
    width: 100%;
    height: 150px;
    margin: auto;
}

.card-actions.speaker {
    height: 40px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.card-description.speaker {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.font-white {
    color: #FFFFFF;
}

.feedback-label {
    font-size: 12px;
}

.mdl-textfield {
    margin: 20px 0;
}

.mdl-textfield__label:after {
    background-color: rgb(64, 116, 146);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: rgb(64, 116, 146);
}

.mdl-dialog__actions {
    padding: 0;
    justify-content: space-between;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: #F15A2B;
}

.link {
    cursor: pointer;
}

.fullscreen {
    display: table;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.timer {
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.no-decoration {
    color: inherit;
    text-decoration: none;
    cursor: inherit;
}

.timer-main-text {
    font-family: "Arial", sans-serif;
    font-size: 60px;
}

.timer-additional-text {
    font-family: "Arial", sans-serif;
    font-size: 35px;
}

.timer-numbers {
    font-family: "Arial", sans-serif;
    font-size: 200px;
}

.bottom-right {
    position: absolute;
    margin: 25px;
    bottom: 0;
    right: 0;
}

.top-right {
    position: absolute;
    visibility: hidden;
    margin: 25px;
    top: 0;
    right: 0;
}

.top-right.show {
    visibility: visible;
}